* {
  box-sizing: border-box;
}

body {
  background-color: $background;
  background-size: contain;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 300;
  color: $fontColor;

  @mixin medium {
    background-size: 50% 50%;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $fontColor;
}

ul {
  list-style: none;
  padding-left: 0;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;

  @mixin medium {
    max-width: 90%;
    padding: 0;
  }

  @mixin large {
    max-width: 1100px;
  }
}

section, header, footer {

  @mixin medium {
    padding-left: 0;
  }
}

.title-dark {
  text-transform: uppercase;
  font-size: .8rem;
  color: $dark;
}

.row {
  max-width: 100%;
  margin-right: 0;
  margin-left: 0;
}
