@define-mixin small {
  @media (min-width: 480px) {
    @mixin-content;
  }
}

@define-mixin medium {
  @media (min-width: 769px) {
    @mixin-content;
  }
}

@define-mixin large {
  @media (min-width: 1200px) {
    @mixin-content;
  }
}

@define-mixin clearfix {

  &::after {
    content: "";
    clear: both;
    display: table;
  }
}
