/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
figure,
main { /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #1f2838;
  background-size: contain;
  font-family: 'Segoe UI', sans-serif;
  font-weight: 300;
  color: white;
}

@media (min-width: 769px) {

body {
    background-size: 50% 50%
}
  }

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
  padding-left: 0;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
}

@media (min-width: 769px) {

.container {
    max-width: 90%;
    padding: 0
}
  }

@media (min-width: 1200px) {

.container {
    max-width: 1100px
}
  }

@media (min-width: 769px) {

section, header, footer {
    padding-left: 0
}
  }

.title-dark {
  text-transform: uppercase;
  font-size: .8rem;
  color: #36496b;
}

.row {
  max-width: 100%;
  margin-right: 0;
  margin-left: 0;
}

.header {
  margin-top: 2rem;
  height: 72px;
}

.header div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

.header div > div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
    }

.header img {
    display: inline;
    -webkit-box-flex: 100%;
        -ms-flex-positive: 100%;
            flex-grow: 100%;
  }

@media (min-width: 769px) {

.header img {
      height: 30px;
      -ms-flex-item-align: center;
          align-self: center;
      padding-right: 10px
  }
  }

.header h2 {
    font-size: 1.5rem;
    font-weight: 200;
    margin: 0;
    display: none;
  }

@media (min-width: 769px) {

.header h2 {
      display: inline;
      -ms-flex-item-align: center;
          align-self: center
  }
  }

.header__links {
    width: 100%;
  }

.header__links ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      width: 100%;
    }

.header__links li {
      display: none;
      padding: 0 1rem;
      font-size: 1rem;
    }

@media (min-width: 769px) {

.header__links li {
        display: inline-block
    }
  }

.header__links li.cta {
        display: inline-block;
        -ms-flex-item-align: center;
            align-self: center;
      }

.header__button {
    padding: .5rem .75rem;
    background-color: #9451f7;
    border-radius: 4px;
  }

.hero {
  margin: 2.5rem 0 4rem;


}

.hero__title {
    font-weight: 200;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

@media (min-width: 769px) {

.hero__title {
      font-size: 3rem
  }
  }

@media (min-width: 1200px) {

.hero__title {
      font-size: 3.5rem
  }
  }

.hero__subtitle {
    line-height: 1.2;
    font-size: 1.1rem;
    margin-bottom: 2rem;
  }

@media (min-width: 769px) {

.hero__subtitle {
      font-size: 1.2rem;
      max-width: 70%;
      margin-left: auto;
      margin-right: auto
  }
  }

@media (min-width: 1200px) {

.hero__subtitle {
      font-size: 1.3rem
  }
  }

.hero__button {
    font-size: 1.3rem;
    font-weight: 400;
    padding: .65rem 1.3rem;
    border: 1px solid white;
    border-radius: 3px;
    background: rgba(255, 255, 255, .05);
    margin-top: 1.5rem;
  }

@media (min-width: 769px) {

.hero__button {
      background: transparent;
      padding: .25rem .5rem .3rem;
      font-size: 1rem
  }
  }

.cards {
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 480px) {

.cards {
    max-width: 85%
}
  }

.card {
    border: 1px solid #36496b;
    border-radius: 4px;
    color: #36496b;
    margin: 1rem 0;
    padding: 1rem .5rem 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }

@media (min-width: 1200px) {

.card {
      padding: 2rem 1rem 0
  }
  }

.card:hover {
      border-color: white;
      color: white;
    }

.card:hover .card__stars {
        border-color: white;
      }

.card__unisize {
      height: 160px;
    }

@media (min-width: 769px) {

.card__unisize {
        height: 190px
    }
  }

@media (min-width: 1200px) {

.card__unisize {
        height: 210px
    }
  }

.card__icon {
      display: block;
      height: 60px;
      width: 60px;
      margin-left: auto;
      margin-right: auto;
    }

@media (min-width: 769px) {

.card__icon {
        height: 90px;
        width: 90px
    }
  }

.card__title {
      font-size: 1.2rem;
      font-weight: 200;
      margin-bottom: .3rem;
    }

@media (min-width: 769px) {

.card__title {
        font-size: 1.5rem
    }
  }

@media (min-width: 1200px) {

.card__title {
        margin-top: 2.5rem
    }
  }

.card__description {
      margin-top: 0;
      font-weight: 200;
      font-size: .6rem;
    }

@media (min-width: 769px) {

.card__description {
        font-size: .7rem
    }
  }

@media (min-width: 1200px) {

.card__description {
        font-size: .8rem
    }
  }

.card__stars {
      font-size: .8rem;
      border-top: 1px solid #36496b;
      margin: 0 -.5rem;
      text-align: center;
      padding: .5rem;
    }

@media (min-width: 1200px) {

.card__stars {
        font-size: 1rem;
        padding: 1rem;
        margin: 0 -1rem
    }
  }

.card a {
      position: absolute;
      z-index: 2;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

.projects {
  margin: 3rem auto 5rem;
}

.projects__title {
    margin-bottom: 1.75rem;
  }

@media (min-width: 480px) {

.projects__title {
      text-align: center
  }
  }

.projects__row {
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 1rem auto;
    border: 1px solid #36496b;
    border-radius: 4px;
  }

@media (min-width: 480px) {

.projects__row {
      max-width: 30rem
  }
  }

@media (min-width: 769px) {

.projects__row {
      border: none;
      max-width: 40rem;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      margin: 0 auto;
      padding: 0
  }
  }

.projects__name {
    font-weight: 300;
    font-size: 1.1rem;
    margin: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

@media (min-width: 769px) {

.projects__name {
      margin: .5rem 0;
      -ms-flex-preferred-size: 100px;
          flex-basis: 100px
  }
  }

.projects__description {
    font-size: 1rem;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: .5rem 0 0;
    -ms-flex-preferred-size: 400px;
        flex-basis: 400px;
  }

@media (min-width: 480px) {

.projects__description {
      -ms-flex-preferred-size: 440px;
          flex-basis: 440px
  }
  }

@media (min-width: 769px) {

.projects__description {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      font-size: 1.1rem;
      text-align: left
  }
  }

.projects__stars {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-item-align: end;
        align-self: flex-end;
    text-align: right;
  }

@media (min-width: 769px) {

.projects__stars {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3;
      -ms-flex-item-align: center;
          align-self: center;
      font-size: 1.1rem;
      -ms-flex-preferred-size: 50px;
          flex-basis: 50px
  }
  }

@media (min-width: 480px) {

.join {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto
}
  }

@media (min-width: 769px) {

.join {
    max-width: 100%
}
  }

.internship {
  position: relative;
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 3rem;
}

@media (min-width: 769px) {

.internship {
      height: 100%;
      padding: 0
}
  }

.internship img {
    max-width: 100%;
    border-radius: 4px;
  }

.internship__container {
    position: absolute;
    bottom: 0;
    left: .75rem;
    right: .75rem;
  }

@media (min-width: 769px) {

.internship__container {
      bottom: .5rem;
      left: 1.25rem;
      right: 1.25rem
  }
  }

.internship__title {
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

@media (min-width: 769px) {

.internship__title {
      font-size: 1.25rem
  }
  }

@media (min-width: 1200px) {

.internship__title {
      font-size: 1.5rem
  }
  }

.internship__description {
    font-weight: 300;
  }

@media (min-width: 769px) {

.internship {
    font-size: .75rem
}
  }

@media (min-width: 1200px) {

.internship {
    font-size: 1rem
}
  }

.jobs {
  margin-bottom: 3rem;
}

.jobs__title {
    margin: 0;
  }

.jobs__list li {
    display: inline-block;
    width: 100%;
    padding: .5rem 0 .75rem;
    font-size: 1.25rem;
    border-bottom: 1px solid #36496b;
  }

@media (min-width: 769px) {

.jobs__list li {
      font-size: 1rem;
      padding: .25rem 0 .5rem
  }
  }

@media (min-width: 1200px) {

.jobs__list li {
      padding: .5rem 0 .75rem;
      font-size: 1.25rem
  }
  }

.additional {
  margin-bottom: 5rem;
}

.additional__title {
    margin-bottom: 1.75rem;
  }

.additional__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

.additional__icon {
    height: 4rem;
    width: 4rem;
    font-size: 1.75rem;
    background-color: #4c1161;
    text-align: center;
    line-height: 2.25;
  }

.additional__info {
    padding-left: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

.additional__name {
    margin: 0;
    font-weight: 400;
    font-size: .75rem;
  }

.additional__sub {
    margin: 0;
    text-transform: none;
  }

.footer {
  display: none;
}
