.additional {
  margin-bottom: 5rem;

  &__title {
    margin-bottom: 1.75rem;
  }

  &__item {
    display: flex;
  }

  &__icon {
    height: 4rem;
    width: 4rem;
    font-size: 1.75rem;
    background-color: $darkPurple;
    text-align: center;
    line-height: 2.25;
  }

  &__info {
    padding-left: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__name {
    margin: 0;
    font-weight: 400;
    font-size: .75rem;
  }

  &__sub {
    margin: 0;
    text-transform: none;
  }
}
