.cards {
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;

  @mixin small {
    max-width: 85%;
  }
}

.card {
    border: 1px solid $dark;
    border-radius: 4px;
    color: $dark;
    margin: 1rem 0;
    padding: 1rem .5rem 0;
    transition: all .3s;
    display: flex;
    flex-direction: column;
    position: relative;

    @mixin large {
      padding: 2rem 1rem 0;
    }

    &:hover {
      border-color: white;
      color: white;

      & .card__stars {
        border-color: white;
      }
    }

    &__unisize {
      height: 160px;

      @mixin medium {
        height: 190px;
      }

      @mixin large {
        height: 210px;
      }
    }

    &__icon {
      display: block;
      height: 60px;
      width: 60px;
      margin-left: auto;
      margin-right: auto;

      @mixin medium {
        height: 90px;
        width: 90px;
      }
    }

    &__title {
      font-size: 1.2rem;
      font-weight: 200;
      margin-bottom: .3rem;

      @mixin medium {
        font-size: 1.5rem;
      }

      @mixin large {
        margin-top: 2.5rem;
      }
    }

    &__description {
      margin-top: 0;
      font-weight: 200;
      font-size: .6rem;

      @mixin medium {
        font-size: .7rem;
      }

      @mixin large {
        font-size: .8rem;
      }
    }

    &__stars {
      font-size: .8rem;
      border-top: 1px solid $dark;
      margin: 0 -.5rem;
      text-align: center;
      padding: .5rem;

      @mixin large {
        font-size: 1rem;
        padding: 1rem;
        margin: 0 -1rem;
      }
    }

    & a {
      position: absolute;
      z-index: 2;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
