.header {
  margin-top: 2rem;
  height: 72px;

  & div {
    display: flex;
    justify-content: space-between;

    & > div {
      display: flex;
      justify-content: flex-start;
    }
  }

  & img {
    display: inline;
    flex-grow: 100%;

    @mixin medium {
      height: 30px;
      align-self: center;
      padding-right: 10px;
    }
  }

  & h2 {
    font-size: 1.5rem;
    font-weight: 200;
    margin: 0;
    display: none;

    @mixin medium {
      display: inline;
      align-self: center;
    }
  }

  &__links {
    width: 100%;

    & ul {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }

    & li {
      display: none;
      padding: 0 1rem;
      font-size: 1rem;

      @mixin medium {
        display: inline-block;
      }

      &.cta {
        display: inline-block;
        align-self: center;
      }
    }
  }

  &__button {
    padding: .5rem .75rem;
    background-color: $purple;
    border-radius: 4px;
  }
}
