.hero {
  margin: 2.5rem 0 4rem;

  &__title {
    font-weight: 200;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;

    @mixin medium {
      font-size: 3rem;
    }

    @mixin large {
      font-size: 3.5rem;
    }
  }

  &__subtitle {
    line-height: 1.2;
    font-size: 1.1rem;
    margin-bottom: 2rem;

    @mixin medium {
      font-size: 1.2rem;
      max-width: 70%;
      margin-left: auto;
      margin-right: auto;
    }

    @mixin large {
      font-size: 1.3rem;
    }
  }

  &__button {
    font-size: 1.3rem;
    font-weight: 400;
    padding: .65rem 1.3rem;
    border: 1px solid white;
    border-radius: 3px;
    background: $transparentWhite;
    margin-top: 1.5rem;

    @mixin medium {
      background: transparent;
      padding: .25rem .5rem .3rem;
      font-size: 1rem;
    }
  }


}
