.join {

  @mixin small {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  @mixin medium {
    max-width: 100%;
  }
}

.internship {
  position: relative;
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 3rem;

  @mixin medium {
      height: 100%;
      padding: 0;
    }

  & img {
    max-width: 100%;
    border-radius: 4px;
  }

  &__container {
    position: absolute;
    bottom: 0;
    left: .75rem;
    right: .75rem;

    @mixin medium {
      bottom: .5rem;
      left: 1.25rem;
      right: 1.25rem;
    }
  }

  &__title {
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 1rem;

    @mixin medium {
      font-size: 1.25rem;
    }

    @mixin large {
      font-size: 1.5rem;
    }
  }

  &__description {
    font-weight: 300;
  }

  @mixin medium {
    font-size: .75rem;
  }

  @mixin large {
    font-size: 1rem;
  }
}
