.jobs {
  margin-bottom: 3rem;

  &__title {
    margin: 0;
  }

  &__list li {
    display: inline-block;
    width: 100%;
    padding: .5rem 0 .75rem;
    font-size: 1.25rem;
    border-bottom: 1px solid $dark;

    @mixin medium {
      font-size: 1rem;
      padding: .25rem 0 .5rem;
    }

    @mixin large {
      padding: .5rem 0 .75rem;
      font-size: 1.25rem;
    }
  }
}
