.projects {
  margin: 3rem auto 5rem;

  &__title {
    margin-bottom: 1.75rem;

    @mixin small {
      text-align: center;
    }
  }

  &__row {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem auto;
    border: 1px solid $dark;
    border-radius: 4px;

    @mixin small {
      max-width: 30rem;
    }

    @mixin medium {
      border: none;
      max-width: 40rem;
      justify-content: flex-start;
      margin: 0 auto;
      padding: 0;
    }
  }

  &__name {
    font-weight: 300;
    font-size: 1.1rem;
    margin: 0;
    order: 1;

    @mixin medium {
      margin: .5rem 0;
      flex-basis: 100px;
    }
  }

  &__description {
    font-size: 1rem;
    order: 3;
    margin: .5rem 0 0;
    flex-basis: 400px;

    @mixin small {
      flex-basis: 440px;
    }

    @mixin medium {
      order: 2;
      font-size: 1.1rem;
      text-align: left;
    }
  }

  &__stars {
    order: 2;
    align-self: flex-end;
    text-align: right;

    @mixin medium {
      order: 3;
      align-self: center;
      font-size: 1.1rem;
      flex-basis: 50px;
    }
  }
}
